
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

#game {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 5px;
}

.row {
    display: grid;
    grid-template-columns: repeat(5, 50px);
    gap: 5px;
}

.tile {
    width: 50px;
    height: 50px;
    border: 2px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

#message {
    margin: 20px;
    font-size: 20px;
    height: 24px;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: green;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}